<div class="container-fluid kb-title-bar">
  <div class="row">
    <div class="col-xs-12"><h3 class="kb-title">
      Accounts
  	</div>
  </div>
</div>
<div id="kb-account-list" ng-repeat="account in accountListCtrl.accounts">
	<div class="container-fluid kb-profile">
	  <div class="row">
	    <div class="col-xs-2">
	      <img ng-src="{{account.avatar}}" class="kb-avatar" />
	    </div>
	    <div class="col-xs-10">
	      <div class="kb-account-name">{{account.name}}</div>
	    </div>
	  </div>
	</div>
</div>